* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1420px;
}

.form-section {
    margin: 3rem auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .8rem;
    border: 2px solid black;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
    min-width: 550px;
}

.error-msg {
    font-size: 1.2rem;
    color: red;
    font-weight: 700;
    min-height: 23px;
}

.form-inputbox {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
}

.form-label {
    font-weight: 600;

}

.form-input {
    padding: .5rem;
    width: 100%;
    border-radius: .6rem;
    border: solid 1px black;
}

.form-btnbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.form-btn {
    padding: .5rem 3rem;
    border-radius: 1.3rem;
    border: solid 1px black;
}

.form-btn:hover {
    background-color: black;
    color: white;
}


.game-area {
    margin: 3rem auto;
    max-width: 1000px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
    position: relative;
    aspect-ratio: 2 / 3;
    border-radius: 8px;
    border: solid 5px black;
    padding: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}

.card-backside {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(25deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.card-image {
    max-width: 100%;
    pointer-events: none;
    aspect-ratio: 1;
    border-radius: 50%;

}

.card-title {
    pointer-events: none;
}

.game-over {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.congratulation-msg {
    font-size: 2.5rem;
}

.victory-msg {
    font-size: 1.5rem;
}

.play-btn {
    padding: 1rem 3rem;
    border-radius: 16px;
    border: none;
    background: rgb(34, 193, 195);
    background: linear-gradient(25deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 80%);
}

.play-btn:hover {
    background: rgb(34, 193, 195);
    background: linear-gradient(200deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 80%);
}

.d-none {
    display: none;
}